{% extends "base.html" %}

{% block title %}Home - Horizon Travel{% endblock %}

{% block content %}
<style>
    #edit-mode .account-title,
    #view-mode .account-title {
        text-align: left;
        padding-bottom: 20px;
    }



    .user-background {
        background-image: url(../static/Background.webp);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: calc(100vh - 150px);
        padding-top: 80px;
        padding-bottom: 60px;
    }

    .details_wrapper {
        background-color: rgba(255, 255, 255, 0.5);
        padding: 15px;
        width: 60%;
        margin: 0 auto;
        align-items: center;
        text-align: center;
        justify-content: center;
        align-content: center;
    }

    .account {
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 200px);
    }

    .user_details {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 15px;
    }

    .user_details span {
        width: 100%;
    }

    .user_details label {
        display: inline-block;
        text-align: left;
        flex: 1 1 calc(50% - 20px);
        min-width: 250px;
        margin-bottom: 15px;
    }

    #view-mode span,
    form .user_details input {
        display: flex;
        align-items: center;
        font-size: 15px;
        width: 100%;
        height: 35px;
        overflow: hidden;
        background-color: white;
        padding: 0 5px;
    }

    form .user_details input {
        padding: 8px;
        font-size: 15px;
        margin-top: 5px;
    }

    .user-background form button {
        padding: 10px 20px;
        font-size: 16px;
        width: 100%;
        max-width: 200px;
        background-color: #000080;
        color: white;
        border: none;
        cursor: pointer;
        margin-top: 15px;
    }

    form button:hover {
        background-color: #ffffff;
        color: #000080;
    }

    .edit_btn {
        text-decoration: none;
        cursor: pointer;
    }

    .edit_btn i {
        font-size: 20px;
        color: #000080;
    }

    .booking-flights {
        margin-bottom: 40px;
    }

    @media (max-width: 768px) {
        .user_details label {
            flex: 1 1 100%;
            min-width: unset;
        }

        .user-background {
            padding-top: 90px;
            min-height: calc(100vh - 160px);
        }

        .user-background form button {
            width: 100%;
            max-width: 100%;
        }

        .details_wrapper {
            width: 95%;
            padding: 10px;
        }
    }
</style>




<div class="user-background">
    <div class="account">
        <div class="booking-title">
            <h1>My Account</h1>
        </div>

        <div class="details_wrapper">
            <div id="view-mode" style="display: block;">

                <div class="account-title">
                    <h3>
                        <a class="edit_btn" onclick="toggleEditMode()">
                            <i class="fa fas fa-edit" aria-hidden="true"></i>
                        </a>
                        Account Details
                    </h3>
                </div>
                {% if user %}
                <div class="user_details">
                    <label><strong>First Name</strong> <span>{{ user[1] }}</span></label>
                    <label><strong>Last Name</strong> <span>{{ user[2] }}</span></label>
                </div>

                <div class="user_details">
                    <label><strong>Phone</strong> <span>{{ user[3] }}</span></label>
                    <label><strong>Email</strong> <span>{{ user[4] }}</span></label>
                </div>

                <div class="user_details">
                    <label><strong>Password</strong> <span>hidden</span></label>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="details_wrapper">
            <form id="edit-mode" class="user_account" action="{{ url_for('account') }}" method="POST"
                style="display: none;">
                <div class="account-title">
                    <h3>Account Details</h3>
                </div>
                {% if user %}
                <div class="user_details">
                    <label>
                        <strong>First Name</strong>
                        <input type="text" name="first_name" value="{{ user[1] }}" minlength="3" pattern="[A-Za-z]+"
                            title="Enter letters only" required>
                    </label>

                    <label>
                        <strong>Last Name</strong>
                        <input type="text" name="last_name" value="{{ user[2] }}" minlength="3" pattern="[A-Za-z]+"
                            title="Enter letters only" required>
                    </label>
                </div>

                <div class="user_details">
                    <label>
                        <strong>Phone</strong>
                        <input type="text" name="phone" value="{{ user[3] }}" required pattern="07[0-9]{9}" title="Enter a valid UK mobile number starting with 07 ">
                    </label>

                    <label>
                        <strong>Email</strong>
                        <input type="email" name="email" value="{{ user[4] }}"
                            title="Valid email (e.g., user@example.com)"
                            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required>
                    </label>
                </div>

                <div class="user_details">
                    <label>
                        <strong>Old Password</strong>
                        <input type="password" name="password" placeholder="Enter old password" minlength="8"
                            maxlength="20"  pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d\W_]{8,20}$"
                            title="Password must be 8-20 characters with letters and numbers">
                    </label>
                    <label>
                        <strong>New Password</strong>
                        <input type="password" name="new_password" placeholder="Enter new password" minlength="8"
                            maxlength="20"   pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d\W_]{8,20}$"
                            title="Password must be 8-20 characters with letters and numbers.">
                    </label>
                </div>

                <button type="submit" value="change">Save Changes</button>
                {% endif %}
            </form>

            <form action="{{ url_for('log_out') }}" method="POST">
                <button style="display:inline;" type="submit">
                    <span class="fa fa-sign-out"></span> Log Out
                </button>
            </form>
        </div>


        <form class="booking-flights" action="{{ url_for('control') }}" method="POST">
            <div class="account-title">
                <h1>My bookings</h1>
            </div>
            {% if bookings %}
            {% for booking in bookings %}
            <div class="Booking_journey">
                <input type="radio" id="booking{{ booking.booking_ID }}" name="booking_id"
                    value="{{ booking.booking_ID }}" required>
                <label for="booking{{ booking.booking_ID }}">
                    Booking ID: {{ booking.booking_ID }} | {{ booking.departure_city }} ===> {{
                    booking.destination_city }} | Time: {{ booking.departure_time }} - {{ booking.arrival_time }} |
                    Class: {{ booking.class_type }} | Seats: {{ booking.booked_seats }}
                </label>
            </div>
            {% endfor %}

            {% if bookings %}
            <div class="booking_btn" style="display: flex; gap: 20px;">
                <input class="flight_btn" type="submit" name="action" value="View">
            </div>
            {% endif %}

            {% else %}
            <h3 style="color: white;">No bookings available</h3>
            {% endif %}
        </form>



    </div>
</div>

{% if error_message %}
<div id="error-box">
    <button onclick="closeErrorBox()">X</button>
    <p>{{ error_message }}</p>
</div>
{% endif %}

{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='java.js') }}"></script>

{% endblock %}
